<section class="search_form">
  <div class="jumbotron jumbotron-fluid jumbotron-custom">
    <div class="container">
      <form action="/artist-search" method="GET">
        <div class="form-group">
          <input name="artist" placeholder="Search Your Artist Here" type="text" class="form-control input-custom" id="exampleInputEmail1" >
        </div>
        <button type="submit" class="btn btn-primary">Search for an Artist</button>
      </form>
    </div>
  </div>
</section>