.index_cover {
  background-size: cover;
  background-image: url(/images/spotify-background.jpeg);
  background-repeat: no-repeat;
}

.search_form{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-image: url(/images/spotify-background.jpeg);
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.jumbotron-custom {
  background-color: #ffffff47;
  margin: 0 auto;
  width: 75%;
  text-align: center;
}

.input-custom {
  width: 70%;
  margin: 0 auto;
}

.btn-custom {
  width: 8rem;
  align-self: center;
}

/* Cards */
.cards-wrapper {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  width: 30%;
}

.card-title {
  color: white;
}

.card-body {
  text-align: center;
  background-color: #505050;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.title-sub {
  display: inline-flex
}
.btn-custom {
  width: 8rem;
  align-self: center;
}
