
/* Index */
.index_cover {
  background-size: cover;
  background-image: url(/images/spotify-background.jpeg);
  background-repeat: no-repeat;
}

.search_form{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-image: url(/images/spotify-background.jpeg);
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.jumbotron-custom {
  background-color: #ffffff47;
  margin: 0 auto;
  width: 75%;
  text-align: center;
}

.input-custom {
  width: 70%;
  margin: 0 auto;
}

.btn-custom {
  width: 8rem;
  align-self: center;
}

/* cards - albums and artists search */
.cards-wrapper {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  width: 30%;
}

.card-title {
  color: white;
}

.card-body {
  text-align: center;
  background-color: #505050;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Tracks */
.tracks-wrapper {
  margin-left: 0;
}

.title {
  background-color: #505050;
  align-content: space-around;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
  height: 4rem;;
}

.container {
  background-color: #f5f5f5;
  display: flex !important;
  flex-flow: row !important;
  flex-wrap: wrap !important;
  margin-bottom:0.4rem;
}

.media-body {
  justify-content: space-around;
  align-content: space-around;
  padding-bottom: 0.4rem;
}

.mb-1{
  font-size: 1rem;
}

